<!DOCTYPE html>
<html>
<script type="text/javascript" src="front.js"></script>
<head>
        <title>Ironside</title>
</head> 

<body>
    <p>Input stock name</p>
    <input id = "stock_input">
    <button type = "button" onclick="jsFunction()">Submit</button>
    </input>
    <br>
    <br>
    <form>
        <input type="checkbox" name="50ma" value="50ma">50 day moving average<br>
        <input type="checkbox" name="200ma" value="200ma">200 day moving average<br>
    </form>
    <p id = "output"></p>
</body>

</html>