<!DOCTYPE html>
<html>
<script type="text/javascript" src="front.js"></script>
<head>
        <title>Ironside</title>
</head> 

<body>
    <p>Input stock name</p>
    <input id = "stock_input"></input>
    <br>
    <br>
    <form>
        <div id="technicalIndicators">
            <label><input type="checkbox" id="50ma" name="50ma" value="50ma" onclick="";>50 day moving average</label><br>
            <label><input type="checkbox" id="200ma" name="200ma" value="200ma" onclick="";>200 day moving average</label><br>
            <label><input type="checkbox" id="hc" name="historicalClosing" value="historicalClosing">Historical Closing</label><br>
        </div>
    </form>
    <button type = "button" onclick="jsFunction()">Submit</button>
    <p id = "output"></p>
    <p id = "outputTechnicalIndicator"></p>
</body>

</html>